body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(83,189,250);

  .trump-gif {
    position: absolute;
    top:0;bottom:0;right:0;left:0;
    margin:auto;
    z-index:-1;
  }
}

a {
  color: #00B7FF;
}
